{% extends "layouts/main.njk" %}

{% block casaPageTitle %}
  {{ t('logout:pageTitle') }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ t('logout:title') }}
  </h1>
{% endblock %}
