{% extends "layouts/journey.njk" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "casa/components/input/macro.njk" import casaGovukInput with context %}

{% block casaPageTitle %}
  {{ t('name:pageTitle') }}
{% endblock %}

{% block journey_form %}
  {% set legendHtml %}
    <h1 class="govuk-fieldset__heading">
      {{ t('name:question') }}
    </h1>
  {% endset %}
  
  {% call govukFieldset({
    legend: {
      html: legendHtml,
      classes: "govuk-fieldset__legend--l"
    }
  }) %}
    {{ casaGovukInput({
      name: "name",
      label: {
        text: t("name:label")
      },
      value: formData.name,
      casaErrors: formErrors
    }) }}
  {% endcall %}
{% endblock %}
