{% extends "layouts/main.njk" %}

{% block casaPageTitle %}
  {{ t('start:pageTitle') }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ t('start:title') }}
  </h1>
{% endblock %}
